
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

@import "node_modules/foundation-sites/assets/foundation";

@import "settings";

@import "foundation-icons";

@import "partials/main";

// Background color for the top bar
$topbar-bg-color: #2c3840;
$topbar-bg: $topbar-bg-color;

body{
    background-color: $body-bg;
}

