
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

@import "node_modules/foundation-sites/assets/foundation";

@import "settings";

@import "foundation-icons";

@import "partials/main";

@import url('https://fonts.googleapis.com/css?family=Lora:700i');

body{
    background-color: $body-bg;
}

#site-header{
    h1{
        font-family: 'Lora', serif;
    }
    background-color: $body-bg;
}

